@import 'shared';

.reset-password {
  height: 50%;
  margin: auto;
}
.password-modal {
  margin: auto;
}
.password-header {
  background-color: $epic-color;
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  height: 50px;
}
.password-modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.74);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  &:target {
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    width: 40%;
    height: 29%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border: 1px solid $epic-color;
    border-radius: 0.5rem;
  }
}
.reset-footer {
  margin-top: 1rem;
}
.form-body {
  width: 80%;
}
