@import 'shared';
.navbar {
  box-shadow: 0 0.125rem 0.25rem 0 rgba(141, 152, 166, 0.39);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $epic-color;
  height: 5rem;
}
.left-items span {
  font-size: 25px;
  margin: auto;
  text-transform: uppercase;
  padding: 0.2rem;
}
.right-items {
  display: flex;
  float: right;
  .vertical-divider {
    height: 5.6rem;
    width: 1px;
    background-color: $grey-light;
    margin: 0 0.5rem;
  }
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: $epic-color;
}
