$epic-color: rgb(0, 128, 128);

$navcol-width: 15rem;
$navcol-horizontal-padding: 2rem;
$navbar-height: 5rem;
$navcol-width: 15rem;
$navcol-horizontal-padding: 2rem;

$grey-light: white;

$light-border: 1px solid $grey-light;
